In [1]:
import pandahouse as ph
connection = {'host': 'http://clickhouse.beslan.pro:8080',
                      'database':'',
                      'user':'', 
                      'password':''
                     }

In [2]:
q = '''
    SELECT
    COUNT(st_id)
    FROM(
        SELECT
            st_id,
            SUM(correct) correct_sum
        FROM default.peas
        GROUP BY st_id
        )sub1
    WHERE correct_sum >= 20
    '''
result = ph.read_clickhouse(query=q, connection=connection)
result

   count(st_id)
0           136

  test_grp     ARPU    ARPAU     CR  CR_active  CR_active_math
0  control   4541.0  10393.7   4.92      11.02            6.12
1    pilot  11508.5  29739.6  10.85      26.04            9.52